* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body{
    background: #f5f8fa;
}
header {
 width: 100%;
 align-items: center;
  margin: 0;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f8fa;
  color: #1d2c3c;
  padding: 20px;
  
}

.header-div {
  display: flex;
  justify-content: space-between;
  width: 95%;
  text-align: center;
  margin: 0;
  padding: 10px;
  border-bottom: 3px solid  #E0E6EA;;
}

/*.image{
width: 200px;
height: 39px;
background: url(./images/wppusher-logo\ copy.jpg), lightgray 0px 0px / 100% 100% no-repeat;
}*/

.navbar a {
  text-decoration: none;
  margin: 6px;
  color: #1d2c3c;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01px;
}

a:hover{
border-radius: 6px;
border: 2px solid #646E7A;
padding: 8px;
}

.container{
    display: flex;
    justify-content: center;
    margin: 100px 100px;
    position: relative;
    left: 150px;
    gap: 50px;
    width: 892px;
    height: 795px;
    flex-shrink: 0;
    border-radius: 6px;
   background: #FFF;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05), 0px 15px 35px 0px rgba(43, 64, 78, 0.10);
}

.First-div{
width: 600px;
height: 795px;
flex-shrink: 0;
border-radius: 6px;
background: #FFF;
/*box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05), 0px 15px 35px 0px rgba(43, 64, 78, 0.10);*/
}


.second-div{
width: 362px;
height: 795px;
flex-shrink: 0;
border-radius: 0px 6px 6px 0px;
background: #1179BF;
}

.Checkout{
width: 161px;
height: 54px;
flex-shrink: 0;
color: #1D2C3C;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Lato;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.frame{
    display: flex;
    margin: 50px;
}

.text {
width: 700px;
height: 32px;
flex-shrink: 0;
color: #1D2C3C;
font-family: serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.16px;

}


.image img{
width: 40px;
height: 40px;
flex-shrink: 0;
}

.user-input {
display: flex;
width: 226px;
height: 50px;
flex-shrink: 0;
gap: 30px;
padding: 10px;
}
.user-input input {
    padding: 6px;
    border-radius: 4px;
    background: #EDEFF2;
    border: none;
}

.email-container {
display: flex;
width: 226px;
height: 50px;
flex-shrink: 0;
gap: 30px;
padding: 10px
}

.email-div input {
    width: 150%;
    padding: 6px;
    border-radius: 4px;
    background: #EDEFF2;
    border: none;
    
}

.user-info{
margin-left: 60px;
}

.user-input label, .email-div label{
width: 187px;
color: #1D2C3C;
font-family: serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.card-div{
display: flex;
width: 226px;
height: 50px;
flex-shrink: 0;
gap: 30px;
padding: 10px
}

.card-div input {
    width: 200%;
    padding: 6px;
    border-radius: 4px;
    background: #EDEFF2;
    border: none;
    
}